@page "/ordens"

@inject ISessaoUsuario sessao
@inject IUsuarioEndpoints usuarioEndpoints
@inject IOrdemEndpoints ordemEndpoints
@inject NavigationManager navManager

@if (inicializado)
{
    @if(ListaOrdem is null || ListaOrdem.Count() == 0)
    {
        <div class="text-center my-5 fs-3 fw-bold">Não foi registrado nenhuma ordem</div>
    }
    else
    {
        <div class="ferramenta-list" id="ferramenta-list-label">
            <div class="ferramenta-node">Descrição</div>
            <div class="ferramenta-node">Urgência</div>
            <div class="ferramenta-node">Criado em</div>
            <div class="ferramenta-node">Prazo máximo</div>
            <div class="ferramenta-node">Situação</div>
            <div class="ferramenta-node">Responsável</div>
            <div class="ferramenta-node">Ferramenta</div>
        </div>
        <Virtualize Items="@ListaOrdem" Context="ordem" OverscanCount="50">
            <a class="ferramenta-list" href="/ordem/@ordem.Id">
                <div class="ferramenta-node">@ordem.Descricao</div>
                <div class="ferramenta-node">@if(@ordem.NivelUrgencia.ToString() == "Urgente")
                    {
                        <div class="text-color-danger">Urgente</div>
                    }
                    else
                    {
                        <div class="text-light">Normal</div>
                    }
                </div>
                <div class="ferramenta-node">@ordem.DataCriacao</div>
                <div class="ferramenta-node">@ordem.DataPrazoMaximo.ToString("dd/MM/yyyy")</div>
                <div class="ferramenta-node">@if (ordem.Situacao == "Espera")
                    {
                        <div class="situacao-espera">Espera</div>
                    } else if (ordem.Situacao == "Iniciada")
                    {
                        <div class="situacao-iniciada">Iniciada</div>
                    } else
                    {
                        <div class="situacao-finalizada">Finalizada</div>
                    }
                </div>
                <div class="ferramenta-node">@ordem.NomeResponsavel</div>
                <div class="ferramenta-node">@ordem.NomeFerramenta</div>
            </a>
        </Virtualize>
    }
}

@code {
    private Guid UsuarioLogadoId { get; set; }
    private List<OrdemModel>? ListaOrdem = new();

    private bool inicializado = false;

    protected override async Task OnInitializedAsync()
    {
        await BuscarUsuarioLogadoId();
        if(UsuarioLogadoId == Guid.Empty)
        {
            navManager.NavigateTo("/login");
            return;
        }

        await BuscarTodasAsOrdens();

        inicializado = true;
    }

    private async Task BuscarUsuarioLogadoId()
    {
        UsuarioLogadoId = await sessao.BuscarIdDoUsuarioLogado();
    }
    private async Task BuscarTodasAsOrdens()
    {
        ListaOrdem = await ordemEndpoints.Buscar();
    }
}
